/*
 * Podcast css File
*/
@mixin screen-min($min) {
  @media (min-width: $min) {
    @content
  }
};
@mixin screen-max($max) {
  @media (max-width: $max - 1) {
    @content
  }
};

$beige-5: rgb(248,247,227);
$pink-5: rgb(240,80,113);
$gray-3: hsl(0,0,90);
$gray-35: hsl(0,0,85);
$gray-4: hsl(0,0,70);
$gray-5: hsl(0,0,50);
$gray-6: hsl(0,0,40);
$gray-7: hsl(0,0,30);
$gray-8: hsl(0,0,20);
$gray-9: hsl(0,0,15);
$gray-10: hsl(0,0,10);
.Podcast {
    /* propertys here */
}

// .cc-layout {
//   margin-bottom: 20px;
//   background-color: #3f3e39 !important;
// }
#end {
  padding: 40px;
  background-color: #3f3e39 !important;

}

  .podcast-inner-card {
    color: white !important;
    .podcast-title{
      font-size: 30px;
    }
    .mt-0 short-description{
      font-size: 10px;
    }
  }
svg {
    width: 100%;
    height: 100%;
    fill: white;
  }


  .cc-container {
    padding-top: 3%;
    margin: 0 auto;
    width: 100%; 
    color: white;
    @include screen-min(576px){max-width: 550px;}
    @include screen-min(768px){max-width: 700px;}
    @include screen-min(992px){max-width: 800px;}
    @include screen-min(1200px){max-width: 800px;}
    p {
      font-size: 10px;
    }
  }
  .cc-podcast-wrapper {
    // nothing
    filter: drop-shadow(4px 4px 4px #009937);
  }
  .podcast-wrapper {
    cursor: pointer;
    position: relative;
    // padding-left: 80px;
    // &:hover {
    //   transition: 0.3s;
    //   border: 2px solid white;
    // }
    transition: 1.2s;
    @include screen-min(577px){
      &:hover {
        transform: scale(1.0005);
        background-color: $gray-8;
      }  
    }
    .podcast-number {
      position: absolute;
      right: 10px;
      bottom: 10px;
      color: $gray-7;
    }
  
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      fill: transparent;
      z-index: -2; // to make the link clickable above it
    }
  
    svg rect {
      stroke:  #009937;
      width: 100%;
      height: 100%;
      stroke-width:0;
      transition: 1s;
      stroke-dasharray: 400%;
      stroke-dashoffset:900;
    }
  
    &:hover svg rect {
      stroke-width: 4;
      stroke-dashoffset: 0;
    }
  
    // .menu-header {
    //   hr {
    //     width: 100%;
    //     background-color: white;
    //   }    
    // }
  
  
  
  }
  .cc-padding {
    // padding: 25px;
    padding: 35px;
    font-size: 16px;
  }
  .cc-card {
    border: 3px solid black;
    border-radius: 10px;
    // background-color: hsl(10,10,10);
    background-color: $gray-10;
    width: 100%;
    position: relative;
    @include screen-max(576px){
      &:before {
        width: 100%;
        content: "";
        position: absolute;
        background-color:  #009937;
        height: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }
  
  // Seperate card class for post so podcast player class unaffected
  .cc-post-card {
    border: 3px solid black;
    border-radius: 10px;
    // background-color: hsl(10,10,10);
    background-color: $gray-10;
    width: 100%;
    position: relative;
  }
  